html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

:root {
  --my-transform-time: 0.35s;
  --my-hover-opacity: 0.75;
  --my-header-height: 56px;
}


@keyframes my-frames-showright {
  from {
    left: -10px;
  }

  to {
    left: 100%;
  }
}


html {
  min-height: 100%;
}

main {
  margin-top: var(--my-header-height);
  /* margin-bottom: var(--my-header-height); */
}

/* .my-page-tree ul>* ul {
  margin-left: 1rem;
} */

.my-page-tree a {
  text-decoration: none;
  text-underline-offset: .25rem;
  color: inherit;
  padding-left: .25rem;
  /* color: var(--bs-body-color); */
}

.my-page-tree a:hover {
  /* color: var(--bs-link-hover-color);
  text-decoration: underline; */
  color: var(--bs-primary);
}

.my-page-tree a.active {
  position: relative;
  font-weight: bold;
  /* pointer-events: none; */
  color: var(--bs-primary);
}

.my-page-tree a i {
  margin-right: .25rem;
}

/* .my-page-tree a.active::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  left: 0;
  top: 0;
  animation-name: my-frames-showright;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */

.my-page-tree .my-arrow {
  cursor: pointer;
}

.my-page-tree .my-arrow:hover {
  background-color: var(--bs-secondary-bg);
}

.my-page-tree .my-arrow::before {
  transition: transform var(--my-transform-time) ease;
}

.my-page-tree .my-arrow[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

/*  outline */
/* .my-outline strong {
  border-left: .125rem solid transparent;
  padding-left: .5rem;
} */

/* .my-outline ul>* ul {
  margin-left: 1rem;
} */

.my-outline a {
  display: inline-block;
  max-width: 100%;
  border-left: .125rem solid transparent;
  padding-left: .5rem;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-outline a.my-level-1 {
  padding-left: .5rem;
}

.my-outline a.my-level-2 {
  padding-left: 1.5rem;
}

.my-outline a.my-level-3 {
  padding-left: 2.5rem;
}

.my-outline a.my-level-4 {
  padding-left: 3.5rem;
}

.my-outline a.my-level-5 {
  padding-left: 4.5rem;
}

.my-outline a.my-level-6 {
  padding-left: 5.5rem;
}

.my-outline a:hover,
.my-outline a.active {
  border-left: .125rem solid var(--bs-primary);
  /* padding-left: .5rem; */
  color: var(--bs-primary);
}

.my-outline .sticky-top {
  top: calc(var(--my-header-height) + 1rem);
  height: calc(100vh - 6rem);
  overflow-y: auto;
}

/* detail page */
.my-wiki-content img {
  display: block;
  margin: auto;
  max-width: 100%;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  /* .my-page-tree nav {
    padding: 0 0.75rem 0 0.75rem;
  } */

  .my-page-tree .offcanvas-start {
    position: sticky;
    top: calc(var(--my-header-height) + 1rem);
    height: calc(100vh - 6rem);
    overflow-y: auto;
  }
}

.my-footer span {
  padding: 0 1rem;
}

.my-footer a {
  color: var(--bs-body-color);
  text-decoration: none;
}

.my-footer a:hover,
.my-footer a:focus {
  color: var(--bs-link-hover-color);
  text-decoration: underline;
}