@page "/p/{id}"
@model DetailModel
@{
    ViewData["Title"] = Model.Detail?.Title;
}

@section Styles {
    <link rel="stylesheet" href="~/css/github-markdown.css" asp-append-version="true" />
}

@await Html.PartialAsync("_TopNavbar", Model.TopNav)

<main class="container-fluid">
    <div class="row py-3">
        @await Html.PartialAsync("_SideNavBar", Model.SideNav)

        <div class="col-md-8" data-bs-spy="scroll" data-bs-target="#my-outline" data-bs-smooth-scroll="true">
            <div class="container-fluid">
                <article class="my-wiki-content markdown-body">
                    @* <h1>@Model.Detail?.Title</h1> *@
                    @Html.Raw(Model.Detail?.Content)
                </article>
            </div>
        </div>

        @await Html.PartialAsync("_Outline", Model.Outline)
    </div>
</main>
