@page "/f/{id?}"
@model FolderModel
@{
    ViewData["Title"] = "目录";
}

@await Html.PartialAsync("_TopNavbar", Model.TopNav)

<main class="container-fluid">
    <div class="row py-3">
        @await Html.PartialAsync("_SideNavBar", Model.SideNav)

        <div class="col">
            <div class="container">
                this is Folder page

                Not yet implemented ...
            </div>
        </div>

        @await Html.PartialAsync("_Outline", "")
    </div>
</main>
