@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@await Html.PartialAsync("_TopNavbar")

<main class="container-fluid">
    <div class="row py-3">
        @await Html.PartialAsync("_SideNavBar", Model.SideNav)

        <div class="col-md-8" data-bs-spy="scroll" data-bs-target="#my-outline" data-bs-smooth-scroll="true">
            <div class="container-fluid">
                home
            </div>
        </div>

        @await Html.PartialAsync("_Outline", "")
    </div>
</main>