:root {
    --my-transform-time: 0.35s;
    --my-hover-opacity: 0.75;
    --my-header-height: 56px;
}


@keyframes my-frames-showright {
    from {
        left: -10px;
    }

    to {
        left: 100%;
    }
}


html {
    min-height: 100%;
}

main {
    margin-top: var(--my-header-height);
    margin-bottom: var(--my-header-height);
}

.my-page-tree ul>* ul {
    margin-left: 1rem;
}

.my-page-tree a {
    text-decoration: none;
    text-underline-offset: .25rem;
    color: inherit;
    padding-left: .25rem;
    /* color: var(--bs-body-color); */
}

.my-page-tree a:hover {
    /* color: var(--bs-link-hover-color);
  text-decoration: underline; */
    color: var(--bs-success);
}

.my-page-tree a.active {
    position: relative;
    font-weight: bold;
    /* pointer-events: none; */
    color: var(--bs-success);
}

.my-page-tree a i {
    margin-right: .25rem;
}

/* .my-page-tree a.active::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  left: 0;
  top: 0;
  animation-name: my-frames-showright;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */

.my-page-tree .my-arrow {
    cursor: pointer;
}

.my-page-tree .my-arrow:hover {
    background-color: var(--bs-secondary-bg);
}

.my-page-tree .my-arrow::before {
    transition: transform var(--my-transform-time) ease;
}

.my-page-tree .my-arrow[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.my-toc strong {
    border-left: .125rem solid transparent;
    padding-left: .5rem;
}

.my-toc ul>* ul {
    margin-left: 1rem;
}

.my-toc a {
    border-left: .125rem solid transparent;
    padding-left: .5rem;
    text-decoration: none;
    color: inherit;
}

.my-toc a:hover,
.my-toc a.active {
    border-left: .125rem solid var(--bs-success);
    padding-left: .5rem;
    color: var(--bs-success);
}

.my-toc .sticky-top {
    top: calc(var(--my-header-height) + 1rem);
    height: calc(100vh - 6rem);
    overflow-y: auto;
}

@media (min-width: 768px) {
    /* .my-page-tree nav {
    padding: 0 0.75rem 0 0.75rem;
  } */

    .my-page-tree .offcanvas-start {
        position: sticky;
        top: calc(var(--my-header-height) + 1rem);
        height: calc(100vh - 6rem);
        overflow-y: auto;
    }
}