@page "/s/{keywords?}"
@model SearchModel
@{
    ViewData["Title"] = "搜索";
}

@await Html.PartialAsync("_TopNavbar", Model.TopNav)

<main class="container-fluid">
    <div class="row py-3">
        @await Html.PartialAsync("_SideNavBar", Model.SideNav)

        <div class="col-md-8">
            <div class="container">
                @foreach (var item in Model.SearchResults)
                {
                    <div class="mb-3">
                        <h1>@Html.Raw(item.Title)</h1>
                        <p>@Html.Raw(item.Summary)</p>
                    </div>
                }
            </div>
        </div>

        @await Html.PartialAsync("_Outline", "")
    </div>
</main>
