@page "/s/{keywords?}"
@model SearchModel
@{
    ViewData["Title"] = "搜索";
}

@await Html.PartialAsync("_TopNavbar", Model.TopNav)

<main class="container-fluid">
    <div class="row py-3">
        @await Html.PartialAsync("_SideNavBar", Model.SideNav)

        <div class="col">
            <div class="container">
                <div class="my-input-search input-group mb-3 ">
                    <input type="text" class="form-control" placeholder="搜索内容" aria-label="搜索内容"
                        aria-describedby="button-search">
                    <button class="btn btn-outline-primary" type="button" id="button-search">搜索</button>
                </div>
                <p>搜索结果：<small class="text-body-secondary pe-3">300条</small>搜索耗时：<small
                        class="text-body-secondary">30ms</small></p>
                @foreach (var item in Model.SearchResults)
                {
                    <div class="mb-3">
                        <div class="d-flex align-items-center">
                            <a class="fs-3" href="/p/@item.Id">@Html.Raw(item.Title)</a>
                            <div aria-label="breadcrumb" class="ms-3 border-start">
                                <ol class="breadcrumb flex-nowrap ms-3 mb-0">
                                    <li class="breadcrumb-item"><a href="/f">目录</a></li>

                                    @foreach (var navitem in item.Breadcrumbs)
                                    {
                                        <li class="breadcrumb-item"><a href="/f/@navitem.Id">@navitem.Title</a></li>
                                    }
                                </ol>
                            </div>
                        </div>
                        <p><small class="text-body-secondary pe-3">@item.UpdatedTime</small>@Html.Raw(item.Summary)</p>
                    </div>
                }
            </div>
        </div>

        @await Html.PartialAsync("_Outline", "")
    </div>
</main>
