@model string

<div id="my-outline" class="col-md-2 d-none d-md-block my-outline text-body-secondary">
    <div id="my-outline-box" class="sticky-top">
        <strong class="h6 my-2">大纲</strong>
        <hr class="my-2">
        @Html.Raw(Model)
    </div>
</div>