.my-breadcrumb {
    max-width: calc(100% - 400px);
}

.breadcrumb a {
    color: var(--bs-body-color);
    text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
    color: var(--bs-link-hover-color);
    text-decoration: underline;
}

.breadcrumb li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}