@media (min-width: 768px) {
    /* .my-breadcrumb {
        max-width: calc(100% - 400px);
    } */

    .my-search-input {
        width: 200px;
        transition: width .3s;
    }

    .my-search-input:focus {
        width: 400px;
        transition: width .3s;
    }
}

@media (max-width: 767.98px) {
    .my-navbar-collapse {
        max-width: 100%;
    }
}

.breadcrumb a {
    color: var(--bs-body-color);
    text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
    color: var(--bs-link-hover-color);
    text-decoration: underline;
}

.breadcrumb li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}